.Item_container{
    padding: 10px;
    max-width: 340px;
    max-height: 167px;
    display: flex;
    gap: 15px;
    border-radius: 19px;
    border: 1px solid white;
    backdrop-filter: blur(10px);

}

.img_setting{
    width: 130px;
    height: 133px;
    border-radius: 60px;

}
.dish_name h3{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    
}
.dish_detail p{
    font-size: 11px;
}
.dish_price{
    display: flex;
    justify-content: end;
    padding: 8px 10px 8px 10px;
    align-items: end;
}
.dish_price span {
    display: flex;
    background-color: red;
    padding: 4px;
    width: 46px;
    color: white;
    border-radius: 5px;
    justify-content: center;
}