.Main_container{
    display: flex;
    flex-direction: column;
    background-color: #ffdaae;
    margin: 0px;
    padding: 0px;
}
.top_section{
    padding: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search_input{
    color: white;
}
.Search_input_setting{
    border: 3px solid red;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}
.Cat_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.Cat_btn button{
    background-color: #FF4343;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 6px;
}
button:hover{
    background-color: transparent;
    color: black;
    padding: 6px;

    border: 1px solid black;
}
.bottom{
    background-image: url("../images/backimge.jpg");
    max-width: 100%;
    min-height: calc(100vh - 164px);
    background-size: cover;
}
.Items{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px 20px 30px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}